@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --primary-color: #2E96C5;
    --black-title: #333333;
    --grey-text: #888888;
    --red-sale: #C92127;
    --grey-bg: #F0F0F0;
    --font: "Roboto", sans-serif;
    --white-bg: #ffffff;
    --grey-light: #CDCFD0;
    --white-bg: #F0F0F0;
    --red-price: #FF4C58;
    --yellow-star: #FFC70D;
    --grey-text-2: #666;
    --yellow-dark: #F6A500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--grey-bg);
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

a {
    display: inline-block;
}

i {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol {
    margin: 0;
}


main {
    background-color: var(--grey-bg);
}

/* btn-1 */
.btn-1 {
    padding: 0 28px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

/* btn-2 */
.btn-2 {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 4px;
    transition: all 0.3s;
}

.btn-2:hover {
    background-color: var(--primary-color);
    color: white;
}

/* btn-3 */
.btn-3 {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 4px;
    transition: all 0.3s;
}

.display-text-14 {
    font-size: 14px;
    line-height: 1.5;
    color: var(--grey-text);
}

/* head title */
.head-inner-title .head-title {
    padding: 20px 20px;
    background-color: white;
}

.head-title .title {
    color: var(--primary-color);
    font-size: 22px;
}

.head-inner-title .progress-bar {
    background-color: var(--primary-color);
}

.head-inner-title .progress {
    border-radius: 0;
}

/* head-title product */
.head-title {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
    background-color: white;
}

.head-title .sort {
    display: flex;
    align-items: center;
}

.head-title .sort .method-sort {
    width: 200px;
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    color: var(--grey-text-2);
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}

.head-title .sort span {
    color: var(--black-title);
}

/* product hiển thị card nhỏ bên ngoài */
.product {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 14px;
}

.product .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 6px;
}

.product .card {
    border: none;
    border-radius: 8px;
    height: 100%;
}

.product .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    z-index: 1;
}

.product .card-img img {
    border-radius: 8px;
}

.product .title h3 {
    color: var(--black-title);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-product .current-price {
    color: var(--red-price);
    font-weight: bold;
}

.price-product .discount-price {
    display: flex;
    gap: 10px;
    margin-top: 2px;
}

.price-product .discount-price .percent {
    color: var(--black-title);
    padding: 0 6px;
    display: flex;
    align-items: center;
    background-color: var(--grey-bg);
    font-size: 12px;
    border-radius: 14px;
}

.price-product .discount-price .original-price {
    font-size: 10px;
    color: var(--grey-text);
    text-decoration: line-through;
}

.product .reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .reviews .star {
    display: flex;
}

.star-icon {
    font-size: 12px;
    color: var(--yellow-star);
}

.product .reviews .quantity {
    color: var(--grey-text);
    font-size: 14px;
}

.star-icon {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.full-state {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.full-state {
    width: 40%;
}

/* form focus */

.form-select:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

/* container  */
.container-850 {
    max-width: 850px;
    margin: 0 auto;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    padding: 14px 0;
    gap: 12px;
}

.page-link {
    color: var(--black-title);
    border: none;
    padding-inline: 12px;
    border-radius: 4px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border: none;
}

/* response */

@media screen and (max-width: 1199.98px) {

    /* product review*/
    .products .product .reviews i {
        font-size: 10px;
    }

    .products .product .reviews .quantity {
        font-size: 12px;
    }

    /*  end product review*/
}