@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2E96C5;
    --black-title: #333333;
    --grey-text: #888888;
    --red-sale: #C92127;
    --grey-bg: #F5F5F5;
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.6;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

span {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}